# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
dist/

# Database
*.db
*.sqlite
*.sqlite3
/drizzle/

# Env
.env
.env.local
.env.*.local

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
*.log
.idea/
.vscode/
